<form class="page-main-actions" name="myform" method="post"
      enctype="multipart/form-data"
      action="<?php echo $this->getUrl("eventcalendar/event/importsave/"); ?>"
      data-mage-init='{"validation": {}}'>
    <input type="hidden" name="form_key"
           value="<?php echo $this->getFormKey(); ?>"/>
    <div class="fieldset admin__field">

        <div class="admin__field-control">
            <input type="file" name="uploadFile"
                   class="input-file required-entry">
            <button id="id_eec641cd4501568f3d07f6e7b39c8516"
                    title="Import Events" type="submit"
                    class="action-default scalable import-submit"
                    data-ui-id="widget-button-0">
                <span><?php echo __('Import Events'); ?></span>
            </button>
        </div>
        <div class="admin__field-control">
            <a href="<?php echo $this->getMediaUrl(); ?>"
               target="_blank"><?php echo __('Sample File'); ?></a>
        </div>
    </div>
</form>
   

  