<?php $events = $block->getEvents();
$pageUrl = $block->getPageUrl();
$helper = $this->helper('MageArray\Eventcalendar\Helper\Data');
?>
<?php if ($events->getSize() > 0): ?>
    <?php $categories = $this->getCategories(); ?>
    <div class="box-filter">
        <div class="event-category-filters">
            <label for="category-filter">
                <?php echo __('Filter Event by Category:') ?>
            </label>
            <select name="category-filter" id="category-filter"
                    onchange="filterCategory(this.value)">
                <option value="" selected="selected">
                    <?php echo __('All Events') ?>
                </option>
                <?php foreach ($categories as $category): ?>
                    <option
                        <?php
                        if ($this->getSelectCategory() == $category->getCategoryId()) {
                            print 'selected ';
                        } ?> value="<?php echo $category->getCategoryId();?>">
                        <?php echo $category->getTitle();?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="view-mode">
            <label for="viewmodelist">
                <?php echo __('View Mode:') ?>
            </label>
            <select name="viewmode" id="viewmodelist"
                    onchange="viewmode(this.value)">
                <option value="calendar"
                    <?php if ('calendar' == $this->getEventView()) {
                        print 'selected ';
                    } ?>><?php echo __('Calendar') ?>
                </option>
                <option value="list"
                    <?php if ($this->getEventView() == 'list') {
                        print 'selected ';
                    } ?>><?php echo __('List') ?>
                </option>
            </select>
        </div>
        <div class="clearfix"></div>
    </div>
    <script type='text/javascript'>
        function filterCategory(category_id) {
            var url = '<?php echo $this->getUrl($pageUrl)?>';
            var mode = '<?php echo $this->getEventView();?>';
            url = url + '?mode=' + mode;
            if (category_id != "") {
                url = url + '&category=' + category_id;
            }
            window.location.href = url;
        }
        function viewmode(mode) {
            var url = '<?php echo $this->getUrl($pageUrl)?>';
            url = url + '?mode=' + mode;
            window.location.href = url;
        }
    </script>
    <?php if ($this->getEventView() == 'calendar'): ?>
        <div id='calendar'></div>
        <script>
            require(['jquery', 'MageArray_FullCalendar', 'MageArray_Moment', 'MageArray_Tooltip'], function ($) {
                jQuery('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    defaultDate: '<?php echo $this->getCurrentDate(); ?>',
                    editable: false,
                    timeFormat: 'h:mma ',
                    eventLimit: true,
                    events: [
                        <?php foreach ($events as $event) : ?>
                        {
                            <?php if(!empty($event->getUrlKey())):?>
                            <?php $urlKey = $event->getUrlKey(); ?>
                            <?php else : ?>
                            <?php $id = $event->getEventId();
                            $urlKey = $this->getEventUrl($id); ?>
                            <?php endif ; ?>
                            <?php if (!empty($event->getEventImage())): ?>
                            <?php $imgSrc = $helper->resize($event->getEventImage(),
                            100, 100); ?>
                            <?php else:?>
                            <?php  $imgSrc = $this->getPlaceHolderImage();?>
                            <?php endif;?>
                            <?php $description = $this->getDescription($event->getDescription());
                            $description = mb_strimwidth($description, 0, 97,
                                '...');?>
                            title: '<?php echo $event->getTitle();?>',
                            start: '<?php echo $event->getStartDateTime();?>',
                            end: '<?php echo $event->getEndDateTime();?>',
                            color: '<?php echo $event->getColor();?>',
                            description: '<?php echo $description;?>',
                            imgsrc: '<?php echo $imgSrc;?>',
                            url: '<?php echo $urlKey; ?>',
                            eventStart: '<?php echo date("F j, Y, g:i A",
                                strtotime($event->getStartDateTime()));?>',
                            eventEnd: '<?php echo date("F j, Y, g:i A",
                                strtotime($event->getEndDateTime()));?>',
                        },
                        <?php endforeach;?>
                    ],
                    eventRender: function (event, element) {

                        var html = '<div class="tool_tip"><div class="custom-title"><span>' + event.title + '</span></div><div class="image_left"><img class="img_tool" src=' + event.imgsrc + '></div><div class="right_part"><div class="custom-content"><div class="cal-starttime"><span class="title_s">Start-Time:</span> ' + event.eventStart + '</div><div class="cal-endtime"><span class="title_s">End-Time:</span> ' + event.eventEnd + '</div><div class="cal-description"><span class="title_s">Description:</span> ' + event.description + '</div></div></div></div>';
                        jQuery(element).tooltipster({
                            content: jQuery(html),
                            multiple: true,
                            position: 'bottom'
                        });
                    }
                });
            });
        </script>
    <?php endif; ?>
    <?php if ($this->getEventView() == 'list'): ?>
        <div class="event_block tribe-events-list">
            <?php foreach ($events as $event) : ?>
                <?php if (!empty($event->getUrlKey())): ?>
                    <?php $urlKey = $event->getUrlKey(); ?>
                <?php else : ?>
                    <?php $id = $event->getEventId();
                    $urlKey = $this->getEventUrl($id); ?>
                <?php endif; ?>
                <div class="event_loop type-tribe_events tribe-clearfix tribe-events-category-wordcamp tribe-events-venue-2074 tribe-events-first col-sm-6">
                    <div class="even-list-wrapper">
                        <div class="event-list-wrapper-top">
                            <?php if (!empty($event->getEventImage())): ?>
                                <div class="tribe-events-event-image">
                                    <?php $imageUrl = $helper->resize($event->getEventImage(),
                                        400, 200); ?>
                                    <a href="<?php echo $urlKey; ?>">
                                        <img src="<?php echo $imageUrl; ?>"
                                             alt=""
                                             title="<?php echo $event->getTitle(); ?>"
                                             class="attachment-blog-thumbnail size-blog-thumbnail wp-post-image"/>
                                    </a>
                                </div>
                            <?php else: ?>
                                <div class="tribe-events-event-image">
                                    <a href="<?php echo $urlKey; ?>">
                                        <img src="<?php echo $this->getPlaceHolderImage(); ?>"
                                             style='height: 184px;'
                                             title="<?php echo $event->getTitle(); ?>"
                                             class="attachment-blog-thumbnail size-blog-thumbnail wp-post-image"/>
                                    </a>
                                </div>
                            <?php endif; ?>
                            <div class="tribe-events-event-date">
                                <span class="dd"><?php echo $startDate = date("j",
                                        strtotime($event->getStartDateTime())); ?></span>
                                <span class="mm"><?php echo $startMonth = date("F",
                                        strtotime($event->getStartDateTime())); ?></span>
                                <span class="yy"><?php echo $startYear = date("Y",
                                        strtotime($event->getStartDateTime())); ?></span>
                            </div>
                        </div>
                        <div class="event-list-wrapper-bottom">
                            <div class="wraper-bottom-left">
                                <h4 class="tribe-events-list-event-title entry-title summary"><?php echo $event->getTitle(); ?></h4>
                                <div class="tribe-events-event-meta vcard">
                                    <div class="author">
                                        <?php $startTime = strtotime(date("F j, Y",
                                            strtotime($event->getStartDateTime())));
                                        $endTime = strtotime(date("F j, Y",
                                            strtotime($event->getEndDateTime()))); ?>
                                        <?php if ($startTime < $endTime): ?>
                                            <div class="end-date">
                                                <?php echo $startMonth . ' ' . $startDate; ?>
                                                -
                                                <?php echo date("F",
                                                        strtotime($event->getEndDateTime())) . ' ' . date("j",
                                                        strtotime($event->getEndDateTime())); ?>
                                            </div>
                                            <br/>
                                        <?php endif; ?>
                                        <div class="time-details">
                                            <?php echo date("g:i A",
                                                    strtotime($event->getStartDateTime())) . '-' .
                                                date("g:i A",
                                                    strtotime($event->getEndDateTime())); ?>
                                        </div>
                                        <div class="view_det">
                                            <a href="<?php echo $urlKey; ?>"
                                               class="list_url">
                                                <?php echo __('View Details..') ?></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
            <div class="clearfix"></div>
        </div>
        <?php echo $this->getPager(); ?>
    <?php endif; ?>
<?php else : ?>
    <?php echo __('There are no events at this moment'); ?>
<?php endif; ?>