<?php if ($block->displayEvents()):?>
    <?php $helper = $this->helper('MageArray\Eventcalendar\Helper\Data');?>
    <?php $eventCollection = $block->getRelatedevents();?>
    <?php if ($eventCollection->count()):?>

        <div class="related-events">
            <div class="box-title-area">
                <h4 class="title">
                    <?php echo __('You Might Also Like') ?>
                </h4>
            </div>
            <div class="event_block tribe-events-list">


                <?php foreach ($eventCollection as $event):?>


                    <div class="event_loop type-tribe_events tribe-clearfix tribe-events-category-wordcamp tribe-events-venue-2074 tribe-events-first col-sm-6">
                        <div class="even-list-wrapper">
                            <?php if(!empty($event->getUrlKey())):?>
                                <?php $urlKey = $event->getUrlKey();?>
                            <?php else : ?>
                                <?php $urlKey = $this->getEventUrl($event->getEventId()); ?>
                            <?php endif;?>



                            <?php if (!empty($event->getEventImage())): ?>
                                <div class="tribe-events-event-image">
                                    <?php $imageUrl = $helper->resize($event->getEventImage(), 400, 200); ?>
                                    <a href="<?php echo $urlKey; ?>">
                                        <img src="<?php echo $imageUrl; ?>" alt="" title="<?php echo $event->getTitle(); ?>" class="attachment-blog-thumbnail size-blog-thumbnail wp-post-image"/>
                                    </a>
                                </div>
                            <?php else: ?>
                                <div class="tribe-events-event-image">
                                    <a href="<?php echo $urlKey; ?>">
                                        <img src="<?php echo $this->getPlaceHolderImage(); ?>" style='height: 184px;' title="<?php echo $event->getTitle(); ?>" class="attachment-blog-thumbnail size-blog-thumbnail wp-post-image"/>
                                    </a>
                                </div>
                            <?php endif; ?>


                            <div class="tribe-events-event-date">
                                <span class="dd"><?php echo $startDate = date("j" , strtotime($event->getStartDateTime()));?></span>
                                <span class="mm"><?php echo $startMonth = date("F" , strtotime($event->getStartDateTime()));?></span>
                                <span class="yy"><?php echo $startYear = date("Y" , strtotime($event->getStartDateTime()));?></span>
                            </div>
                        </div>
                        <div class="event-list-wrapper-bottom">
                            <div class="wraper-bottom-left">
                                <h4 class="tribe-events-list-event-title entry-title summary"><?php echo $event->getTitle(); ?></h4>
                                <div class="tribe-events-event-meta vcard">
                                    <div class="author">
                                        <?php $startTime = strtotime(date("F j, Y" , strtotime($event->getStartDateTime())));
                                        $endTime = strtotime(date("F j, Y" , strtotime($event->getEndDateTime())));?>
                                        <?php if($startTime < $endTime):?>
                                            <div class="end-date">
                                                <?php echo $startMonth.' '.$startDate; ?> -
                                                <?php echo date("F" , strtotime($event->getEndDateTime())).' '.date("j" , strtotime($event->getEndDateTime()));?>
                                            </div>
                                            <br/>
                                        <?php endif;?>
                                        <div class="time-details">
                                            <?php echo date("g:i A" , strtotime($event->getStartDateTime())).'-'.
                                                date("g:i A" , strtotime($event->getEndDateTime()));?>
                                        </div>
                                        <div class="view_det">
                                            <a href="<?php echo $urlKey; ?>" class="list_url">
                                                <?php echo __('View Details..') ?></a>
                                        </div>
                                    </div>
                                </div><!-- .tribe-events-event-meta -->
                            </div>
                        </div>
                    </div>

                <?php endforeach; ?>
            </div>

        </div>
    <?php endif;?>
<?php endif;?>
<script>
    require(['jquery', 'carouseljs'], function ($) {
        $('.event_block').owlCarousel({
            loop: true,
            margin: 20,
            responsiveClass: true,
            nav: false,
            dots: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        })
    });
</script>