<?php $event = $this->getEvent();
$helper = $this->helper('MageArray\Eventcalendar\Helper\Data');
if (!empty($event)) : ?>
    <?php if (!empty($event->getUrlKey())): ?>
        <?php $urlKey = $event->getUrlKey();?>
    <?php else: ?>
        <?php $urlKey = $this->getEventUrl($event->getEventId()); ?>
    <?php endif; ?>
    <?php if (!empty($this->getTicketProduct())): ?>
        <?php $ticketProductName = $this->getTicketProduct()->getName();
        $productUrl = $this->getTicketProduct()->getProductUrl();?>
    <?php endif ?>

    <h1><?php echo $event->getTitle();?></h1>
    <div style="clear:both;"></div>
    <div class="cricket_cal_block">
        <div id="events-calendar-plugins">
            <div id="tribe-events-content"
                 class="tribe-events-single vevent hentry">
                <div class="events-single-right col-sm-7 col-sm-push-5">
                    <div id="post-2073"
                         class="post-2073 tribe_events type-tribe_events status-publish has-post-thumbnail hentry tag-wordpress tribe_events_cat-wordcamp cat_wordcamp">
                        <div class="tribe-events-event-image">
                            <?php if (!empty($event->getEventImage())):?>
                                <?php $imageUrl = $helper->resize($event->getEventImage(),
                                    960, 400); ?>

                                <div class="image">
                                    <img src="<?php echo $imageUrl;?>" alt=""
                                         title="<?php echo $event->getTitle();?>"
                                         class="attachment-large size-large wp-post-image"/>
                                </div>

                            <?php else: ?>
                                <a class="imgContainer fancybox"
                                   data-fancybox-group="event"
                                   href="<?php echo $urlKey;?>">
                                    <div class="image">
                                        <img src="<?php echo $this->getPlaceHolderImage();?>"
                                             alt=""
                                             class="attachment-large size-large wp-post-image"
                                             title="Not Found"/>
                                    </div>
                                </a>
                            <?php endif; ?>
                        </div>
                        <div class="tribe-events-single-event-description tribe-events-content entry-content description">
                            <?php if (!empty($block->getDescription())):?>
                                <td><?php echo $block->getDescription();?></td>
                            <?php endif ?>
                            <div class="back_event">
                                <div class="action-back">
                                    <a class="primary action back"
                                       href="<?php echo $block->escapeUrl($this->getBackUrl());?>">
                                        <span><?php echo __('Back To Events');?></span></a>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="events-single-left col-sm-5 col-sm-pull-7">
                    <div class="tribe-events-cta">
                        <div class="tribe-events-cta-date">
                            <span class="mm"><?php echo date("F",
                                    strtotime($event->getStartDateTime()));?></span>
                            <span class="dd"><?php echo date("j",
                                    strtotime($event->getStartDateTime()));?></span>
                            <span class="yy"><?php echo date("Y",
                                    strtotime($event->getStartDateTime()));?></span>
                        </div>
                        <?php if (!empty($ticketProductName)):?>
                            <div class="tribe-events-cta-btn">
                                <a class="btn" href="<?php echo $productUrl;?>"
                                   target="_blank"><?php echo __('Register Now')?></a>
                            </div>
                        <?php endif ?>

                        <div style="clear:both;"></div>
                    </div>
                    <div class="tribe-events-meta-group tribe-events-meta-group-details">
                        <h3 class="tribe-events-single-section-title"><?php echo __('Details');?></h3>
                        <table>
                            <tbody>
                            <tr>
                                <th><?php echo __('Start:') ?></th>
                                <td>
                                    <abbr class="tribe-events-abbr updated published dtstart"
                                          title=""><?php echo date("F j, Y, g:i A",
                                            strtotime($event->getStartDateTime()));?></abbr>
                                </td>
                            </tr>
                            <tr>
                                <th> <?php echo __('End:') ?> </th>
                                <td>
                                    <abbr class="tribe-events-abbr dtend"
                                          title="2016-11-19"><?php echo date("F j, Y, g:i A",
                                            strtotime($event->getEndDateTime())); ?></abbr>
                                </td>
                            </tr>
                            <?php if (!empty($event->getAddress())):?>
                                <tr>
                                    <th><?php echo __('Address:') ?></th>
                                    <td class="tribe-events-event-url">
                                        <?php echo $event->getAddress();?>
                                    </td>
                                </tr>
                            <?php endif ?>
                            <?php if (!empty($event->getCategories())):?>
                                <tr>
                                    <th><?php echo __('Event Categories:');?></th>
                                    <td class="tribe-events-event-categories">
                                        <?php echo $block->getCategories($event->getCategories());?>
                                    </td>
                                </tr>
                            <?php endif ?>
                            <?php if (!empty($ticketProductName)):?>
                                <tr>
                                    <th class="first">
                                        <span><?php echo __('Buy Tickets') ?></span>
                                    </th>
                                    <td>
                                        <a href="<?php echo $productUrl;?>">
                                            <?php echo $ticketProductName;?>
                                        </a>
                                    </td>
                                </tr>
                            <?php endif ?>
                            </tbody>
                        </table>
                    </div>
                    <?php if (!empty($event->getOrganizerName()) || !empty($event->getPhone()) || !empty($event->getFax()) ||
                        !empty($event->getEmail())
                    ): ?>
                        <div class="tribe-events-meta-group tribe-events-meta-group-details">
                            <h3 class="tribe-events-single-section-title"><?php echo __('Organizer') ?></h3>
                            <table>
                                <tbody>
                                <?php if (!empty($event->getOrganizerName())):?>
                                    <tr>
                                        <th>
                                            <?php echo __('Organizer Name:') ?>
                                        </th>
                                        <td class="tribe-events-event-org">
                                            <?php echo $event->getOrganizerName();?>
                                        </td>
                                    </tr>
                                <?php endif ?>
                                <?php if (!empty($event->getPhone())):?>
                                    <tr>
                                        <th>
                                            <?php echo __('Phone No:') ?>
                                        </th>
                                        <td class="tribe-events-event-categories">
                                            <?php echo $event->getPhone();?>
                                        </td>
                                    </tr>
                                <?php endif ?>
                                <?php if (!empty($event->getFax())): ?>
                                    <tr>
                                        <th><?php echo __('Fax:') ?></th>
                                        <td class="tribe-events-event-url">
                                            <?php echo $event->getFax();?>
                                        </td>
                                    </tr>
                                <?php endif ?>
                                <?php if (!empty($event->getEmail())): ?>
                                    <tr>
                                        <th><?php echo __('Email:') ?> </th>
                                        <td class="tribe-events-event-url">
                                            <?php echo $event->getEmail();?>
                                        </td>
                                    </tr>
                                <?php endif ?>
                                </tbody>
                            </table>
                        </div>
                    <?php endif; ?>
                    <?php if (!empty($event->getAddress())): ?>
                        <div class="tribe-events-meta-group tribe-events-meta-group-venue">
                            <h3 class="tribe-events-single-section-title">
                                <?php echo __('Venue:') ?>
                            </h3>
                            <div class="meta-inner">
                                <address class="tribe-events-address">
									<span class="tribe-address">
										<?php if (!empty($event->getVenue())):?>
                                            <?php echo $event->getVenue();?>
                                        <?php endif ?>
									</span>
                                </address>
                                <?php $latitudeLongitude = $block->getLatiudeLongitude();?>
                                <p class="location">
                                    <a class="tribe-events-gmap"
                                       href="http://maps.google.com/maps?q=<?php echo $latitudeLongitude[0]; ?>,<?php echo $latitudeLongitude[1]; ?>"
                                       title="Click to view a Google Map"
                                       target="_blank"><?php echo __('+ Google Map') ?></a>
                                </p>
                                <div class="tribe-events-meta-group tribe-events-meta-group-gmap">
                                    <div id='map_canvas'></div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <?php $apiKey = $block->getApiKey(); ?>
    <?php if (!empty($event->getAddress()) && !empty($apiKey)): ?>
        <?php $latitudeLongitude = $block->getLatiudeLongitude(); ?>
        <script type='text/javascript'
                src='https://maps.googleapis.com/maps/api/js?key=<?php echo $apiKey; ?>'>
        </script>
        <script type='text/javascript'>
            var latitude = "<?php echo $latitudeLongitude[0]; ?>";
            var longitude = "<?php echo $latitudeLongitude[1]; ?>";
            function initialize() {
                var myLatLng = new google.maps.LatLng(latitude, longitude);
                var mapProp = {
                    zoom: 12,
                    center: myLatLng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(
                    document.getElementById('map_canvas'), mapProp
                );
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    optimized: false,
                    title: '<?php echo $event->getAddress(); ?>'
                });
            }
            window.onload = initialize;
        </script>
    <?php endif ?>
<?php else : ?>
    <?php echo __('This event cannot be found. '); ?>
<?php endif; ?>
