<?php $eventCollection = $this->getCollection();
$helper = $this->helper('MageArray\Eventcalendar\Helper\Data');?>
    <div class="widget widget_upcoming">
        <h3><?php echo __('Upcoming Events');?></h3>
        <?php if ($eventCollection->getSize() > 0): ?>
            <ul>
                <?php foreach ($eventCollection as $event): ?>
                    <?php if (!empty($event->getUrlKey())): ?>
                        <?php $urlKey = $event->getUrlKey();?>
                    <?php else: ?>
                        <?php $urlKey = $block->getEventUrl($event->getEventId()); ?>
                    <?php endif; ?>
                    <li class="cat-item">
                        <div class="tribe-events-event-image">
                            <?php if (!empty($event->getEventImage())): ?>
                                <?php $imageUrl = $helper->resize($event->getEventImage(),
                                    80, 80); ?>
                                <a class="imgContainer fancybox"
                                   data-fancybox-group="event"
                                   href="<?php echo $urlKey; ?>">
                                    <div class="image">
                                        <img src="<?php echo $imageUrl; ?>"
                                             alt="<?php echo $event->getTitle();?>"
                                             title="<?php echo $event->getTitle();?>"
                                             class="attachment-large size-large wp-post-image"/>
                                    </div>
                                </a>
                            <?php else: ?>
                                <a class="imgContainer fancybox"
                                   data-fancybox-group="event"
                                   href="<?php echo $urlKey;?>">
                                    <div class="image">
                                        <img src="<?php echo $block->getPlaceHolderImage() ?>"
                                             alt="<?php echo $event->getTitle();?>"
                                             class="attachment-large size-large wp-post-image"
                                             title="<?php echo $event->getTitle();?>"/>
                                    </div>
                                </a>
                            <?php endif; ?>
                        </div>
                        <div class="right_b">
						<a href="<?php echo $urlKey ?>"><?php echo $event->getTitle() ?></a>
                            <?php echo $now = date('F j, Y',
                                strtotime($event->getStartDateTime()));?>
						</div>
                        <div style="clear:both;"></div>
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php else: ?>
            <ul>
                <p><?php echo __('No Events');?></p>
            </ul>
        <?php endif; ?>
    </div>
