<h2>Student Name & Information</h2>
<form method="post" action="" id="studentform" name="studentform">
<div class="">
<label>First Name</label>
<input type="text" name="firstname" value="">
</div>	

<div class="">
<label>Last Name</label>
<input type="text" name="firstname" value="">
</div>	


<div class="">
<label>Email Address</label>
<input type="text" name="email" value="">
</div>	


<div class="">
<label>Address</label>
<input type="text" name="address" value="">
</div>	


<div class="">
<label>Suite/Appt</label>
<input type="text" name="suite" value="">
</div>	



<div class="">
<label>City</label>
<input type="text" name="city" value="">
</div>	



<div class="">
<label>State / Province</label>
<input type="text" name="state" value="">
</div>	


<div class="">
<label>Postal Code</label>
<input type="text" name="postal"  value="">
</div>	

<div class="">
<label>Country</label>
<input type="text" name="country"  value="">
</div>	


<div class="">
<label>Telephone</label>
<input type="text" name="telephone" value="">
</div>	


<div class="">
<label for="company">Company</label>
<input type="text" name="company"  value="">
</div>

</form>