@font-face { font-family: 'noto_sansbold'; src: url('fonts/notosans-bold-webfont.woff2') format('woff2'), url('fonts/notosans-bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'noto_sansbold_italic'; src: url('fonts/notosans-bolditalic-webfont.woff2') format('woff2'), url('fonts/notosans-bolditalic-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'noto_sansitalic'; src: url('fonts/notosans-italic-webfont.woff2') format('woff2'), url('fonts/notosans-italic-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'noto_sansregular'; src: url('fonts/notosans-regular-webfont.woff2') format('woff2'), url('fonts/notosans-regular-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
body { font-family: 'noto_sansregular'; }
.panel.header {
    border: 0;
}
.event-page-description { margin-bottom: 20px; max-width: 1240px; margin-left: auto; margin-right: auto; background: white; text-align: center; padding-bottom: 20px; }
.event-table { width: 46%; float: left; background: #f9f9f9; border: 1px solid #ecebeb; padding: 23px 15px; }
#map_canvas { height: 250px; width: 100%; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223); }
#category-filter { display: inline-block; width: auto; }
.event-category-filters { float: left; }
.view-mode { float: right; }
.box-filter label { display: inline-block; float: left; line-height: 34px; margin-right: 10px; text-transform: uppercase; font-weight: normal; font-size: 13px; }
.view-mode select { width: auto; }
.box-filter { margin-bottom: 20px; float: none; background: white; padding: 10px 20px 5px; }
.widget_recent_posts ul li a { font-size: 12px; }
.action-back { float: right; }
h1.page-title { width: 100%; text-align: left; font-size: 32px;  padding: 5px 0; margin-bottom: 10px;margin-top:20px; }
h1 span { color: #58646e; }
.event-category-filters label { color: #333; text-transform: uppercase; }
.fc-first th { background: #BECAD4; padding: 20px 0; font-weight: normal; text-transform: uppercase; font-size: 13px; border-left: 0; }
.fc-day div .fc-day-number { background: #f5f5f5; float: none; }
.fc-grid .fc-day-number { float: left; padding: 1px 5px; }
a.fc-event.fc-event-hori { padding: 1px 5px; border-radius: 0!important; margin-left: 2px; text-align: center; line-height: 13px; }
.fc-day > div { min-height: 110px!important; }
span.fc-button.fc-button-next.fc-state-default.fc-corner-right.fc-state-hover { background: #7c868e; }
span.fc-button.fc-button-next.fc-state-default.fc-corner-right { background: #BECAD4; }
span.fc-button.fc-button-prev.fc-state-default.fc-corner-left { background: #BECAD4; }
span.fc-button.fc-button-prev.fc-state-default.fc-corner-left.fc-state-hover { background: #7c868e; }
span.fc-button.fc-button-next.fc-state-default.fc-corner-right.fc-state-hover .fc-icon-right-single-arrow:after, span.fc-button.fc-button-prev.fc-state-default.fc-corner-left.fc-state-hover .fc-icon-left-single-arrow:after { color: #fff; }
.box-filter select#viewmodelist { border: 1px solid #739D9E; text-transform: uppercase; }
.fc-header .fc-button { text-transform: capitalize; padding: 0 16px; }
td.fc-header-center {top: 0;max-width: 360px;right: 0;margin: auto;}
.fc-header-title h2 {text-shadow: 0 0 0;font-size: 20px;margin-bottom: 10px;text-align: center;margin-top: 0;text-transform: uppercase;margin: 5px 0 0px;padding: 0;}
#category-filter { border: 1px solid #739D9E; text-transform: uppercase; }
.fc-header-right span.fc-button { background: #becad4; text-shadow: none; }
.fc-header-right span.fc-state-active, .fc-header-right span.fc-button:hover { background-color: #7c868e; background-image: none; outline: 0; color: white; }
.fc-state-highlight .fc-day-number { background: #F7A149!important; color: white; }
.fc-state-highlight { background: transparent; }
table.fc-header { margin-bottom: 20px; }
.info-table th { font-size: 12px; padding: 10px 5px; }
.event-table td { font-size: 12px; }
/* Bootstrap Style */
.panel.header { margin: 0; background: transparent; }
.panel.wrapper { border-radius: 0; margin-bottom: 0; }
header.page-header { margin-top: 0; }
/* Bootstrap Style end*/


#tribe-events-content.tribe-events-single .events-single-left { border-right: 1px solid #3ec9ce; }
#tribe-events-content.tribe-events-single .events-single-left { padding: 0; margin-bottom: 25px; }
#tribe-events-content.tribe-events-single .events-single-left { border-right: 1px solid #3ec9ce; }
#tribe-events-content.tribe-events-single .tribe-events-cta .tribe-events-cta-date { text-align: center; max-width: 40%; max-width: calc( 80px ); color: #6a7a7c; float: left; }
#tribe-events-content.tribe-events-single .tribe-events-cta .tribe-events-cta-date .mm { display: block; }
#tribe-events-content.tribe-events-single .tribe-events-cta .tribe-events-cta-date .dd { display: block; font-size: 60px; line-height: 60px; }
#tribe-events-content.tribe-events-single .tribe-events-cta .tribe-events-cta-date .yy { display: block; font-size: 18px; line-height: 18px; letter-spacing: 5px; }
#tribe-events-content.tribe-events-single { background: white; margin: 0 0 20px; padding: 50px; }
#tribe-events-content.tribe-events-single .events-single-right { padding: 0; }
#tribe-events-content.tribe-events-single .tribe_events { padding-left: 50px; }
#tribe-events-content.tribe-events-single .tribe_events { padding: 0 0 20px 0; }
#tribe-events-content.tribe-events-single .tribe_events .tribe-events-event-image { margin-bottom: 40px; }
#tribe-events-content.tribe-events-single .tribe_events .tribe-events-content { width: 100%; max-width: 100%; float: none; text-align: justify; font-size: 12px; color: #6a7a7c; }
#tribe-events-content.tribe-events-single .events-single-left { border-right: 1px solid #3ec9ce; }
#tribe-events-content.tribe-events-single .events-single-left { padding: 0; margin-bottom: 25px; }
#tribe-events-content.tribe-events-single .tribe-events-cta { padding-right: 20px; }
#tribe-events-content.tribe-events-single .tribe-events-cta { padding: 0 0 40px 0; font-weight: bold; }
#tribe-events-content.tribe-events-single .tribe-events-cta .tribe-events-cta-btn { float: right; max-width: 60%; max-width: calc( 100% - 80px ); }
#tribe-events-content.tribe-events-single .tribe-events-cta .btn { display: inline-block; min-width: 100px; max-width: 100%; font-size: 15px; margin-top: 27px; padding: 12px 10px; border-width: 2px; text-align: center; }
#tribe-events-content.tribe-events-single .tribe-events-cta:after { clear: both; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-details { padding-right: 20px; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-details { padding: 40px 0 40px 0; border-top: 1px solid #3ec9ce;}
#tribe-events-content.tribe-events-single .tribe-events-single-section-title { font-size: 14px; margin: 0 0 20px 0; text-transform: uppercase; font-weight: bold; color: #6a7a7c; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group table { text-align: left; width: 100%; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group table th { width: 45%; padding: 7px 0; vertical-align: top; border-bottom: 1px solid #ccc; color: #6a7a7c; font-size: 12px; font-weight: bold; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group table td { padding: 7px 0; width: 55%; color: #2e3e40; vertical-align: top; border-bottom: 1px solid #ccc; font-size: 12px; color: #2e3e40; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group table tr:last-child td, #tribe-events-content.tribe-events-single .tribe-events-meta-group table tr:last-child th {border: 0;}
#tribe-events-content.tribe-events-single .tribe-events-meta-group table td abbr { border: none; font-size: 12px; color: #2e3e40; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-venue { padding-right: 50px; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-venue { position: relative; word-break: break-word; padding: 40px 0 20px 0;border-top: 1px solid #3ec9ce; }
#tribe-events-content.tribe-events-single .tribe_events { padding-left: 50px; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-details { padding-right: 20px; }
.eventcalendar-event-eventview main#maincontent { background: #E5EFF0; max-width: 100%; }
.eventcalendar-event-eventview h1.page-title { margin-top: 20px; margin-bottom: 10px; }
.eventcalendar-event-eventview .nav-sections { margin-bottom: 0; }
#sidebar section#tokopress-recent-posts-4 { background: transparent; padding: 0; box-shadow: none; }
#sidebar .widget h3 { text-align: left; letter-spacing: 0; border: 0; margin-bottom: 15px; margin-top: 0; font-size: 14px; font-weight: bold; text-transform: uppercase; }
#sidebar .widget-title:after { background: none; }
.widget.widget_recent_posts ul li, .widget.widget_upcoming_events ul li, .widget.widget_past_events ul li { list-style: none; border-bottom: 1px solid #cccccc; overflow: hidden; padding: 15px 0 0; }
.widget.widget_recent_posts ul li img, .widget.widget_upcoming_events ul li img, .widget.widget_past_events ul li img { float: left; width: 40px; padding: 5px 10px 10px 0; }
.widget.widget_recent_posts ul li .tp-entry-title, .widget.widget_upcoming_events ul li .tp-entry-title, .widget.widget_past_events ul li .tp-entry-title { display: block; color: #6b6b6b; }
.widget.widget_recent_posts ul li .tp-entry-date, .widget.widget_upcoming_events ul li .tp-entry-date, .widget.widget_past_events ul li .tp-entry-date { display: block; padding-bottom: 8px; font-size: 11px; color: #888; }
.back_event { margin-top: 30px; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-venue .meta-inner:before { position: absolute; top: 2px; left: 0; font-family: 'FontAwesome'; font-weight: normal; content: '\f041'; font-size: 18px; line-height: 1em; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-venue p.author.fn.org { margin: 0; font-style: normal; font-weight: bold; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-venue .tribe-events-address { font-style: normal; }
a.tribe-events-gmap { color: #3ec9ce; font-size: 14px; text-shadow: 0 0 0; }
span.tribe-address { color: #6a7a7c; font-size: 13px; text-shadow: 0 0 0; line-height: 16px; display: block; margin-bottom: 5px; margin-right: 10px; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-venue .meta-inner { position: relative; padding-left: 30px; }
.tribe-events-meta-group.tribe-events-meta-group-gmap { margin-left: -30px; }
#tribe-events-content.tribe-events-single .tribe-events-meta-group-venue .meta-inner:before { background: url(../image/map_icon.png) no-repeat 0 0 / 11px; height: 30px; width: 30px; position: absolute; top: 2px; left: 0; text-indent: -10000px; }
.tribe-events-meta-group-details a { color: #3ec9ce; font-size: 14px; text-shadow: 0 0 0; }
.tribe-events-meta-group-details a:hover { text-decoration: none; }
#tribe-events-content.tribe-events-single .tribe-events-cta .btn:hover { background: #2e3e40; border-color: #2e3e40; color: #fff; }
#tribe-events-content.tribe-events-single .tribe-events-cta .btn { display: inline-block; min-width: 100px; max-width: 100%; font-size: 15px; margin-top: 27px; padding: 12px 10px; border-width: 2px; text-align: center; border: 2px solid #6a7a7c; text-transform: uppercase; border-radius: 2px; color: #2e3e40; font-weight: bold; margin-right: 20px; line-height: 1em; }
main#maincontent { background: #E5EFF0; width: 100%; max-width: 100%; }
.sections.nav-sections { margin-bottom: 0; }
.tribe-events-list .tribe-events-event-date { position: absolute; top: 0; left: 0; margin: 0; height: 100%; width: 90px; padding: 15px 0 0 20px; background: rgba(62, 201, 206, 0.64); color: white; font-weight: bold; }
.tribe-events-list .tribe-events-event-date .dd { display: block; font-size: 24px; }
.tribe-events-list .tribe-events-event-date .mm, .tribe-events-list .tribe-events-event-date .yy { font-size: 12px; display: block; text-transform: lowercase; }
.tribe-events-list .event-list-wrapper-top { position: relative; }
.tribe-events-list h2.tribe-events-list-event-title { text-transform: uppercase; font-style: normal; font-size: 14px; margin: 0 0 10px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bold; }
h2.tribe-events-list-event-title a { text-decoration: none; }
.tribe-events-list .event-list-wrapper-bottom { position: relative; min-height: 120px; background: #fff; }
.tribe-events-list .event-list-wrapper-bottom .wraper-bottom-left { padding: 30px 30px 20px 30px; }
.tribe-events-list .even-list-wrapper { background: white; position: relative; }
.tribe-events-list .tribe-events-event-image img { width: 100%;}
.tribe-events-event-image {
    max-height: 183px;
    overflow: hidden;
}
.page-layout-1column .tribe-events-list .tribe-events-event-image img { max-height: 163px; }
.event_loop { margin-bottom: 20px; padding-left: 0; }
.eventcalendar-event-eventlist.page-layout-2columns-right .tribe-events-list .event_loop { margin-right: 2%; width: 49%; padding: 0; }
.eventcalendar-event-eventlist.page-layout-2columns-right .tribe-events-list .event_loop:nth-child(2n) { margin-right: 0; }
.view_det { float: right; margin-top: -20px; }
.time-details { display: block; }
.end-date { float: left; }
.view_det a.list_url { min-width: 100px; max-width: 100%; font-size: 12px; margin-top: -15px; padding: 6px 10px; border-width: 2px; text-align: center; border: 2px solid #6a7a7c; text-transform: uppercase; border-radius: 2px; color: #2e3e40; font-weight: bold; background: none; display: block; }
.view_det a:hover.list_url { background: #2E3E40; border: 1px solid #2E3E40; color: #fff; text-decoration: none; }
a.action.primary { display: inline-block; min-width: 100px; max-width: 100%; font-size: 12px; margin-top: 27px; padding: 6px 10px; border-width: 2px; text-align: center; border: 2px solid #6a7a7c; text-transform: uppercase; border-radius: 2px; color: #2e3e40; font-weight: bold; background: none; }
a.action.primary:hover { background: #2E3E40; border: 1px solid #2E3E40; color: #fff; }
/* .page-wrapper .navigation, .nav-sections, .nav-sections-items { background: #739d9e; } 
.navigation ul > li.nav-1 > a span { color: white; }*/
.column h1, .event-page-description h1 { font-size: 20px; margin-bottom: 10px; text-align: center; margin-top: 0; text-transform: uppercase; font-weight: 700; background: white; margin: 0 0 0px; padding: 20px; }
.eventcalendar-event-eventview .column h1 { margin-bottom: 20px; }
#sidebar .widget { border: 0; background: transparent; box-shadow: none; }
.sidebar ul, .widget_upcoming ul { padding: 0;margin-bottom:0; }
.widget_upcoming ul li { list-style: none; margin-bottom: 15px; border-bottom: 1px solid #cccccc; padding-bottom: 10px; }
.widget_upcoming .tribe-events-event-image { float: left; width: 24%; margin-right: 4%;margin-top:5px; }
.right_b { float: left; width: 56%; font-size: 12px; }
.right_b a, .right_b a:visited { width: 100%; display: block; color: #6b6b6b; font-size: 14px; }
.eventcalendar-event-eventview .tribe-events-list .event_loop { margin-right: 2%; width: 100%; padding: 0; }
.eventcalendar-event-eventview .tribe-events-list .event_loop:last-child { margin-right: 0; padding-right: 0; }
.box-title-area h4.title { font-size: 18px; margin-bottom: 10px; text-align: center; margin-top: 0; text-transform: uppercase; font-weight: 700; background: white; margin: 0 0 20px; padding: 20px; }
.eventcalendar-event-eventview .view_det { margin-top: 30px; float: none; }
h4.tribe-events-list-event-title.entry-title { text-transform: uppercase; font-size: 14px; margin: 0 0 10px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #2e3e40; border-bottom: none; font-family: 'noto_sansregular'; font-weight: bold; }
.custom-title { font-weight: bold; }
.img_tool { margin: 10px 10px 10px 0; float: left; }
.vie_more { display: block; }
.vie_more a { display: block; background-color: #3A87AD; color: #fff; clear: both; text-align: center; margin-top: 10px; border-radius: 5px; padding: 5px 0; }
.sidebar .block-title strong { text-align: left; letter-spacing: 0; border: 0; margin-bottom: 0; margin-top: 0; font-size: 14px; font-weight: bold; text-transform: uppercase; }
.sidebar .block-title { margin-bottom: 5px; }
.page-main .sidebar .block { margin-bottom: 20px; }
#sidebar { margin-bottom: 20px; }
.columns { margin-top: 20px; }

@media(min-width:1300px) {
    .container { width: 1240px; padding: 0; }
    .columns { width: 1240px; margin-left: auto; margin-right: auto; }
    .page-title-wrapper { width: 1240px; margin: 0 auto; }
    .page-layout-1column .event_loop.col-sm-6 { width: 32%; padding: 0; margin-right: 2%; }
    .page-layout-1column .event_loop.col-sm-6:nth-child(3n) { margin-right: 0; }
}
@media (min-width:1200px) and (max-width: 1300px) {
    .page-layout-1column .event_loop.col-sm-6 { width: 32%; padding: 0; margin-right: 2%; }
    .page-layout-1column .event_loop.col-sm-6:nth-child(3n) { margin-right: 0; }
    .page-layout-1column .tribe-events-list .tribe-events-event-image img { max-height: 152px; }
}
@media (min-width:992px) and (max-width: 1199px) {
    .view_det { float: none; clear: both; margin: 10px 0 0; }
    .end-date { float: none; }
    .view_det a.list_url { margin-top: 10px; }
    .author br { display: none; }
    .page-layout-1column .tribe-events-list .tribe-events-event-image img { max-height: 144px; }
    .page-layout-1column .event_loop.col-sm-6 { width: 32%; padding: 0; margin-right: 2%; }
    .page-layout-1column .event_loop.col-sm-6:nth-child(3n) { margin-right: 0; }
}
@media (min-width:768px) and (max-width: 991px) {
    .view_det { float: none; clear: both; margin: 10px 0 0; }
    .end-date { float: none; }
    .view_det a.list_url { margin-top: 10px; }
    .author br { display: none; }
    .view_det a:hover.list_url { border: 2px solid; }
    #tribe-events-content.tribe-events-single .tribe-events-cta .btn { font-size: 12px; }
    .tribe-events-list .event-list-wrapper-bottom .wraper-bottom-left { padding: 20px 10px 20px 10px; }
	.fc-header-title h2 {font-size: 16px;}
}
@media (max-width: 767px) {
    .eventcalendar-event-eventview .column.main { width: 100%; }
    .view-mode, .event-category-filters { max-width: 48%; }
    .view-mode { margin-left: 2%; }
    .box-filter label { width: 100%; font-size: 11px; }
    .box-filter select { font-size: 10px; }
    .eventcalendar-event-eventview h1.page-title { margin-top: 0; padding-top: 20px; padding-bottom: 10px; }
    header.page-header { margin: 0; padding: 0; }
    #tribe-events-content.tribe-events-single .tribe_events { padding-left: 0px; }
    .page-footer { margin-top: 0; }
    #tribe-events-content.tribe-events-single .events-single-left { border-right: 0; }
    .view-mode { text-align: right; }
    .event_loop { padding: 0; }
    .tribe-events-list .tribe-events-event-image img { max-height: none; }
    .eventcalendar-event-eventview .tribe-events-list .event_loop { width: 100%; }
    #tribe-events-content.tribe-events-single { padding: 15px; }
    .eventcalendar-event-eventlist.page-layout-2columns-right .tribe-events-list .event_loop { margin-right: 0; width: 100%; }

.fc-header-title h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
}
.fc-header .fc-button {
    text-transform: capitalize;
    padding: 0 5px;
    font-size: 11px;
}
td.fc-header-center {
    position: absolute;
    top: 30px;
}
.fc-view.fc-view-month {
    padding-top: 12px;
}
}
#maincontent .widget.widget_upcoming {
    background: white;
    padding: 15px;
	margin-bottom: 20px;
}
.block.block-compare {
    background: white;
    padding: 15px;
}
.block.block-wishlist {
    background: white;
    padding: 15px;
}
.sidebar.sidebar-additional {
    margin-top: 0;
}
#maincontent .block-title strong {
    text-align: left;
    letter-spacing: 0;
    border: 0;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.tribe-events-event-image .image img {
    width: 100%;
}
.upcoming_desc{
	display:none;
}
.widget_upcoming ul li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.cms-home .upcoming_desc {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}
.cms-home .right_b a {
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    text-shadow: 0 0 0;
}
.cms-home .widget_upcoming h3 {
    margin-bottom: 20px;
    font-size: 16px;
}
.cms-home #maincontent .widget.widget_upcoming {
    padding: 30px;
}
.widget_upcoming h3 {
    margin-top: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.tooltipster-base.tooltipster-default.tooltipster-fade.tooltipster-fade-show {
    background: #BECAD4;
    border: 0;
}
.tooltipster-default .tooltipster-content {
    padding: 0;
    overflow: hidden;
    background: #fff;
    border: 10px solid #BECAD4;
}
.custom-content {
    color: black;
    font-size: 11px;
}
.tooltipster-arrow{top:1px;}
.tooltipster-arrow-bottom span.tooltipster-arrow-border {
    margin-top: -2px!important;
}
.tooltipster-arrow-top.tooltipster-arrow span:last-child {
    margin-bottom: 0!important;
}
.tooltipster-arrow-top .tooltipster-arrow-border {
    margin-bottom: -2px!important;
}
@media (max-width: 480px) {
    /* .fc-header td { display: block; } */
    .view_det { float: none; margin: 0; clear: both; }
    .author br { display: none; }
    .end-date { float: none; }
    .view_det a.list_url { margin-top: 10px; }
    .view_det a:hover.list_url { border: 2px solid; }
    .view-mode { width: 30%; }
    .event-category-filters { width: 65%; max-width: none; }
    #tribe-events-content.tribe-events-single .tribe-events-cta .btn { font-size: 12px; }
}
.tool_tip{width:385px;overflow:hidden;}
.image_left {
    width: 30%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.image_left img {
    width: 100px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: 11px;
}
.right_part {
    display: table-cell;
}
.custom-title {
    font-size: 14px;
    margin-bottom: 5px;
    background: #BECAD4;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}
.title_s {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: #000;
    width: 80px;
    display: inline-block;
}
.tooltipster-arrow span {
    border-color: #BECAD4!important;
}
.tooltipster-default {
    border: 0!important;
}