@font-face { font-family: 'noto_sansbold'; src: url('fonts/notosans-bold-webfont.woff2') format('woff2'), url('fonts/notosans-bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'noto_sansbold_italic'; src: url('fonts/notosans-bolditalic-webfont.woff2') format('woff2'), url('fonts/notosans-bolditalic-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'noto_sansitalic'; src: url('fonts/notosans-italic-webfont.woff2') format('woff2'), url('fonts/notosans-italic-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'noto_sansregular'; src: url('fonts/notosans-regular-webfont.woff2') format('woff2'), url('fonts/notosans-regular-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
html body {  }
.cms-home  main#maincontent{
    max-width: 100%;
}
.page-title-wrapper {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
header.page-header {
    padding-bottom: 9px;
}
.page-title-wrapper h1.page-title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sections.nav-sections {
    margin-bottom: 0;
}
/* .page-wrapper .navigation, .nav-sections, .nav-sections-items {
    background: #739d9e;
} 
.navigation ul > li.nav-1 > a span {
    color: white;
}*/
.widget_upcoming ul li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.cms-home #maincontent .widget.widget_upcoming {
    padding: 30px;
	background: #f9f9f9;
    margin-bottom: 20px;
	font-family: 'noto_sansregular';
}
.cms-home .widget_upcoming h3 {
    margin-bottom: 20px;
    font-size: 16px;
	margin-top: 0;
}
.sidebar ul, .widget_upcoming ul {
    padding: 0;
    margin-bottom: 0;
}
.widget_upcoming ul li {
    list-style: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
.widget_upcoming .tribe-events-event-image {
    float: left;
    width: 24%;
    margin-right: 4%;
}
.tribe-events-event-image .image img {
    width: 100%;
}
.right_b {
    float: left;
    width: 56%;
    font-size: 12px;
}
.cms-home .right_b a {
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    text-shadow: 0 0 0;
}
.right_b a, .right_b a:visited {
    width: 100%;
    display: block;
    color: #6b6b6b;
    font-size: 14px;
}
.cms-home .upcoming_desc {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}
@media (min-width: 1300px){
.columns {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
}