<div>
    <div class="step-title" data-role="title">
        <span data-bind="i18n: 'Student Name & Information'"></span>
    </div>
    <form id="custom-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <fieldset class="fieldset">
            <!-- ko foreach: getRegion('custom-checkout-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </fieldset>
        <!-- <button type="reset">
            <span data-bind="i18n: 'Reset'"></span>
        </button>
        <button type="button" data-bind="click: onSubmit" class="action">
            <span data-bind="i18n: 'Submit'"></span>
        </button> -->
        <p data-bind="i18n: '*Please note all info on your certificate will be taken from the above information'"></p>
    </form>
</div>