body{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}
#page{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}
#header{
	margin: 0px 0px 30px 0px;
	padding: 0px;
	border-top: 3px solid #C9E0ED;
    border-bottom:1px solid #eaeaea;
}
#content{
	padding: 0px 20px;
}
#content h1.page-header{margin-top: 0px !important;}
#sidebar{
	padding: 20px;
}
#footer{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}
#logo{
	padding: 10px 20px;
	font-size: 200%;
}
div.flash-error, div.flash-notice, div.flash-success{
	padding:0.8em;
	margin-bottom:2em;
	border:5px solid #ddd;
}
div.flash-error{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
    text-align: center;
}
div.flash-notice{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
    text-align: center;
}
div.flash-success{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
    text-align: center;
}
div.flash-error a{
	color:#8a1f11;
}
div.flash-notice a{
	color:#514721;
}
div.flash-success a{
	color:#264409;
}
div.breadcrumbs{
	font-size: 0.9em;
	padding: 5px 20px;
}
div.breadcrumbs span{
	font-weight: bold;
}
.portlet-decoration{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
    margin: 20px 0;
}
.portlet-title{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.step-controls {
    margin: 20px 0px;
    padding: 10px 0px;
    text-align: right;
}
#btn-reset {
    border-top: 1px solid #ddd;
    display: block;
    padding: 20px 10px;
    text-align: center;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}
.progress-bar-success{color: #000;}
blockquote{font-size: 12px;}
#processor-box .loading-box{width: 300px !important; text-align: center;}
/*start css for categories tree*/
.tree span.root-category, .tree input {cursor: pointer;}
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.list-group input{cursor: pointer;}
/* end css for categories tree*/
#footer #report-bugs{display: block;}
.tree li span.glyphicon{border: none;}
#menu .progress {
    margin-top: 20px;
}
#menu .portlet-content {
    background: #ddd none repeat scroll 0 0;
    padding: 5px;
    border-radius:5px;
}
#message ul{text-align: left;}
.guide-banner{margin: 10px 0px;}
.guide-banner img {
    height: auto !important;
    max-width: 100% !important;
    text-align: center;
    width: auto !important;
}
#menu .portlet-content a span.skipped{color: #f00;}
li.website{background: #ddd;}
li.store{background: #eee;}
li.store-view{background: #fff;}