We noticed that for some unknown reason you had abandoned your cart at <?php echo $this->__('SafeCheck.ca'); ? >with the following item(s) in it:

<table width="0" border="0" cellspacing="5" cellpadding="10">
<?php foreach ($this->getQuote()->getAllVisibleItems() as $item): ?>
<tr>
<td><img src="<?php echo $this->getImageUrl($item->getProduct(), 100) ?>"/></td>
<td valign="top">
    <p><a href="<?php echo $item->getProduct()->getProductUrl() ?>"><?php echo $item->getName() ?></a></p>
    <b><?php echo $this->getFormattedPrice($item->getPrice()) ?></b>
</td>
</tr>
<?php endforeach ?>
</table>
<center>
  <a href="<?php echo $this->getRestoreCartUrl() ?>" class="button">Finish Checkout</a>
</center>
