<?php if ($this->getCoupon()): ?>
<p class="">We appreciate each and every visitor and hope that we can help you with all your food safety needs. We have attached a limited time discount offer as a small thanks for your patronage. Use this discount code at checkout to save $5 off of Canada's Best Value for Food Safety Certification.<br>
  Here is $5 to help you at SafeCheck.ca:<a href="<?php echo Mage::getBaseUrl ?>"><span style="color:#e41e26;text-decoration: underline;padding-left: 7px;"><b> cb5 <?php //echo $this->getCoupon()->getCode() ?></b></span></p>
<?php endif ?>
<p class="">If you have any questions about our products or services, please <a href="<?php echo $this->getStoreUrl() ?>/contact/"style="color:#000;">contact us - sales@safecheck.ca</a></p>
<p class="">Want to speak to a real person call us: 866.258.0643</p>
