<?php
    $contacts_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/contacts');
    $_infoblock = $contacts_config['infoblock'];
    $_customblock = $contacts_config['customblock'];
    
    if($_customblock) {
        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
        if($block) {
            $block->setBlockId($_customblock);
        }
        if($block){
            echo '<div class="row"><div class="col-sm-12">'.$block->toHtml().'</div></div>';
        }
    }
?>
<div class="row">
    <div class="col-sm-12"><?php echo $this->getChildHtml('contactForm')?></div>
    <div class="col-sm-4 contact-info">
        <div class="contacts-title"><?php //echo __('Contact') ?> <b><?php echo __('') ?></b></div>
        <?php //echo $_infoblock; ?>

<div class="address_store">
<p><b>Info :</b> <a href="mailto:info@safecheck.ca">info@safecheck.ca</a></p>
<p><b>Sales :</b> <a href="mailto:sales@safecheck.ca">sales@safecheck.ca</a></p>
<p><b>Support :</b> <a href="mailto:support@safecheck.ca">support@safecheck.ca</a></p>
<p><b> Toll Free :</b> 866 258 0643</p>
</div>

    </div>
</div>