<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<form class="form contact"
      action="<?php echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?php echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <div class="contentmap">

        
            
<div class="fields col-sm-6 leftofside">

                <div class="leftcontent">
<legend class="legend  contactinfo"><span><?php echo __('Contact') ?> <b><?php echo __('Information') ?></b></span></legend><br />
        <div class="field name required">
            <label class="label" for="name"><span><?php echo __('Name') ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?php echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?php echo __('Email') ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?php echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field telephone">
            <label class="label" for="telephone"><span><?php echo __('Phone Number') ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?php echo __('Phone Number') ?>" value="" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>

        <div class="field comment required">
            <label class="label" for="comment"><span><?php echo __('What’s on your mind?') ?></span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="<?php echo __('What’s on your mind?') ?>" class="input-text" cols="5" rows="5" data-validate="{required:true}"></textarea>
            </div>
        </div>
</div>


<div class="buttons-set">
                                
<div class="recaptcha" style="overflow:hidden;position:relative;">
    <input type="checkbox" id="recaptcha-verification-1" name="recaptcha-verification-1" value="" class="hide required-entry" style="visibility:hidden;position:absolute;left:-1000000px">
    <div id="recaptcha-1"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LdrwxoTAAAAACJAku1e58xnrLE1ENS4tvcDYZ0p&amp;co=aHR0cHM6Ly9zYWZlY2hlY2suY2E6NDQz&amp;hl=en&amp;v=r20161215161951&amp;theme=light&amp;size=normal&amp;cb=k00gsdp6vmbi" title="recaptcha widget" width="304" height="78" frameborder="0" scrolling="no" name="undefined"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
    
    </div>
                                
                <p class="required">* Required Fields</p>
                <input type="text" name="hideit" id="hideit" value="" style="display:none !important;">             
            </div>



<div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?php echo __('Submit') ?>" class="action submit primary">
                <span><?php echo __('Submit') ?></span>
            </button>
        </div>
    </div>
<?php echo $block->getChildHtml('form.additional.info'); ?>

</div>



<div class="fields col-sm-6 contact-info">    

<div class="content">           
<p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5020.61281048331!2d-113.959808!3d51.010488!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53717a4e11b5ba2b%3A0xcb8fb26e22d3e588!2sCanadian+Food+Safety+Group!5e0!3m2!1sen!2sin!4v1483071895414" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p> 
</div>
</div>


        
            </div>
        </div>

   


    
</form>






